.title {
  padding: 1.2em 0 2em;
  font-size: 1.5em;
  text-align: right;
  color: var(--part-title-color);
}

.carIcon {
  fill: gray;
  margin: 0 auto 2em;
  display: block;
  padding: 4em;
  background-color: rgba(0, 0, 0, 0.15);
}

.partList {
  font-size: 1.2em;

  dt {
    text-align: right;
    margin-top: 0.2em;
    padding: 0.2em 0.5em 0.2em 0;
    font-weight: bold;
  }

  dt,
  dd {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
  }
}

.price {
  position: relative;
  margin-top: 2em;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--part-element-selected-color);

  > b {
    font-size: 0.9em;
    margin-right: 0.3em;
    color: var(--app-color);
  }

  .priceList {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 3em;
    right: 1em;
    font-size: 0.7em;
    background-color: var(--app-background);
    box-shadow: 0 0 1.4em rgba(0, 0, 0, 0.5);
    transition: all 0.3s;

    & td {
      padding: 0.3em 0;
    }
    & td:first-child {
      font-weight: normal;
      padding: 0 1em;
    }
    & td:last-child {
      padding-right: 1em;
    }
    & tr:first-child td {
      padding-top: 1em;
    }
    & tr:last-child td {
      padding-bottom: 1em;
    }
  }

  &:hover .priceList {
    opacity: 1;
  }
}
