@import '~lato-font/css/lato-font.min.css';

// --panel-bg: #0C2339;
// --panel-border: #224461;
// --panel-text: #5592BF;
// --panel-text-muted: #2C5475;
// --panel-header-text: #3C6C90;
// --panel-header-line: #17334D;
// --input-bg: #17334D;
// --input-border: #2A5171;
// --input-text: #325C7E;

body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: var(--app-background);
  color: var(--app-color);
  cursor: default;
  user-select: none;
}

b {
  font-weight: bold;
}

.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--box-background);
  color: var(--box-color);
  box-shadow: var(--box-shadow);
  max-height: 90vh;
  max-width: 830px;
  overflow: auto;
}

@media (max-width: 650px) {
  .mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    max-height: none;
  }
}
